## Kubernetes Monitor

The chart is released through Octopus as a subchart of the [Kubernetes agent chart](https://github.com/OctopusDeploy/helm-charts/tree/main/charts/kubernetes-agent).

The chart source is in [this directory](.).

## Versions

The Kubernetes Monitor Helm chart follows [Semantic Versioning](https://semver.org/). Generally, version updates can be interpreted as follows:

- *major* - Breaking changes to the chart. This may include adding or removing of resources, breaking changes in the Kubernetes monitor application image or breaking changes to the structure of the `values.yaml`.
- *minor* - New non-breaking features. New features or improvements to the Kubernetes monitor application or helm chart itself.
- *patch* - Minor non-breaking bug fixes or changes that do not introduce new features.

The `main` branch will reflect the current development version of the chart. This may be the latest released version or if a new version is in development, may be a pre-release version.

| Version   | Branch                                                                                                                               | Readme                                                                                                                  | values.yaml                                                                                                               |
| --------- | ------------------------------------------------------------------------------------------------------------------------------------ | ----------------------------------------------------------------------------------------------------------------------- | ------------------------------------------------------------------------------------------------------------------------- |
| 0         | [main](https://github.com/OctopusDeploy/kubernetes-monitor/tree/main/charts/kubernetes-monitor)                                        | This file                                                                                                               | [here](./values.yaml)                                                                                                     |

----------------------------------------------

{{ template "chart.valuesSection" . }}

Autogenerated from chart metadata using [helm-docs](https://github.com/norwoodj/helm-docs)